<section class="challengeBox">
    <a href="#" class="ch-item" *ngFor="let challenge of challenges">
        <figure>
            <img [src]="challenge.imageUrl" alt=""/>
            <figcaption>{{ challenge.caption }}</figcaption>
            <label><input [value]="test" type="text"></label>
        </figure>
        <div class="ch-state">
            <p class="ch-startDate">{{ challenge.startDate }}</p>
            <p class="ch-finishDate">{{ challenge.finishDate }}</p>
        </div>
        <h3>Hello {{ name }}</h3>
        <p class="ch-failCount">Фэйлов допущено: {{ challenge.failCount }}</p>
        <div>
            <p class="ch-difficult">Сложность челленджа:</p>
            <div class="ch-diffBox">
                <p class="ch-diffDecrease">-</p>
                <label><input [(ngModel)]="challenge.difficultLevel"
                             (change)="seeInside(challenge.difficultLevel)" class="ch-diffValue"/></label>
                <p class="ch-diffIncrease">+</p>
            </div>
        </div>
    </a>
</section>